@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
/* Navber Part Start */
.navbar-part{
    background-image: url('../img/bgimg/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar-part .container{
    width: 1000px;
    margin: 0 auto;
}
.navbar{
    padding-top: 20px;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #ffffff;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.navbar-light .navbar-nav .nav-link.active:hover{
    color: #c7b299;
}

/* Bg Slider Part Start*/
.bg-content{
    padding: 21.4% 0;
}
.bg-content h6{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 34px;
}
.bg-content h5{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: 800;
}
.bg-content p{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
}
.bg-button{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 15px;
    background: #988574;
    border: none;
    padding: 12px 25px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 20px;
}
/* Dot Button Start */
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1.5px solid #8b8c8e;
    background: #8b8c8e;
    
}
.carousel-indicators .active{
    border: 1.5px solid #8b8c8e !important;
    background: transparent; 
}
.carousel-indicators{
    padding-bottom: 15px;
}
/* Dot Button End */
/* Bg Slider Part End*/
/* Navber Part End */
/* Service Part Start */
.service-part .container{
    width: 1000px;
    margin: 0 auto;
}
.service-con-main {
    padding-top: 70px;
    padding-bottom: 30px;
}
.serivce-img2{
    padding-top: 9px;
}
.service-content h5{
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
}
.service-content p{
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.service-content img{
    margin-top: -20px;
}
/* Service Part End */
/* Idea Part Start */
.idea-part{
    background: #fbf9f7;
}
.idea-part .container{
    width: 1000px;
    margin: 0 auto;
}
.idea-con{
    padding-top: 60px;
}
.idea-content h5{
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.idea-content p{
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
/* Idea Part End */
/* Wordpress part Start */
.word-part{
    background-image: url('../img/wordpress/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.word-part .container{
    width: 1000px;
    margin: 0 auto;
}
.word-con{
    padding-top: 30px;
    padding-bottom: 10px;
}
.word-con2{
    justify-content: right;
}
.header span{
    color: #c7b299;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.header h6{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.word-con p{
    color: #615855;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.now{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    background: #988574;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    margin-top: 40px;
    margin-right: 5px;
}
/* Wordpress part End */
/* Project Part Start */
.project-part{
    padding: 60px 0;
}
.project-part .container{
    width: 1000px;
    margin: 0 auto;
}
.project-header h5{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #555555;
}
.project-header p{
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.project-con-mai{
    margin-top: 15px;
}
.project-con-main{
    padding: 30px 0;
}
/* Button Part Start */
.button-con-main{
    padding-top: 20px;
}
.button1{
    border: none;
    background: #998575;
    padding: 4.5px 20px;
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    margin-right: 10px;
    margin-top: 1.5px;
}
.button2 {
    border: 2px solid #ebebeb;
    background: none;
    color: #8c8c8c;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 1px;
    padding: 4.5px 15px;
    margin-right: 10px;
    border-radius: 3px;
}
.button3-section{
    margin-left: -23px;
}
/* Button Part End */
.pro-content{
    background: #fbf9f7;
    padding-top: 15px;
    padding-bottom: 1px;
    transition: .9s;
}
.pro-content h5{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #c7b299;
    margin-left: 15px;
    margin-top: -10px;
    transition: .9s;
}
.pro-content p{
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-top: -10px;
    margin-left: 15px;
    transition: .9s;
}
.shap{
    margin-top: -61px;
    font-size: 50px;
    margin-left: 30px;
    color: #fbf9f7;
    transition: .9s;
}
/* Icon Part Start */
.pro-icon{
    background: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .9s;
}
.pro-icon i{
    margin-right: 10px;
    color: #988574;
    cursor: pointer;
    margin-bottom: 80px;
}
.pro-icon i:hover{
    color: #ffffff;
}
.project-con{
    position: relative;
}
/* Icon Part End */
.project-con-mai:hover .pro-icon{
    opacity: 1;
}
.project-con-mai:hover .pro-content{
    background: #352f2d;
}
.project-con-mai:hover .shap{
    color: #352f2d;
    z-index: 1;
}
.project-con-mai:hover .pro-content h5{
    color: #ffffff;
}
.project-con-mai:hover .pro-content p{
    color: #c7b299;
}
.learmo{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    font-weight: 600;
    background: #988574;
    border-radius: 4px;
    margin-top: 10px;
}
/* Project Part End */
/* Video Part Start */
.video-part{
    background-image: url('../img/video/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.video-con-main{
    padding: 140px 0;
}
.video-content h5{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color: #ffffff;
    margin-top: 20px;
}
.video-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #ffffff;
}
/* Video Part End */
/* Mobile Part Start */
.mobile-part{
    color: #fbf9f7;
}
.mobile-part .container{
    width: 1000px;
    margin: 0 auto;
}
.mobile-img{
    padding-top: 50px;
    width: 400px;
}
.mobile-head h5{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #555555;
    font-weight: 600;
}
.mobile-head p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #8c8c8c;
}
.mobile-con2{
    margin-top: 200px;
}
.mobile-contnet{
    margin-top: 15px;
    margin-left: 35px;
}
.con1 img{
    width: 20px;
    height: 20px;
}
.con1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #8c8c8c;
    margin-left: 15px;
}
/* Mobile Part End */
/* Counter Part Start */
.counter-part{
    background-image: url('../img/counter/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.counter-part .container{
    width: 1000px;
    margin: 0 auto;
}
.count-con{
    padding-top: 40px;
    padding-bottom: 10px;
}
.count-con h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 15px;
}
.count-con p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #c7b299;
    margin-top: -6px;
}
.count-dot img{
    margin-top: -20px;
}
/* Counter Part End */
/* Team Part Start */
.team-part{
    background: #edeff1;
    padding-bottom: 60px;
}
.team-part .container{
    width: 1000px;
    margin: 0 auto;
}
.team-header{
    padding: 60px 0;
}
.team-header h5{
    color: #0149a1;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.team-header p{
    color: #7c8ca0;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.team-content h5{
    color: #5d6981;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
}
.team-content p{
    color: #7c8ca0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.team-button {
    border: none;
    background: #ff2d55;
    padding: 10px 35px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 50px;
}
/* Team Part End */
/* Company Part Start */
.company-part{
    background-image: url('../img/company/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.company-part .container{
    width: 1100px;
    margin: 0 auto;
}
.comp-con-main{
    padding-top: 130px;
    padding-bottom: 80px;
}
.company-img2 img{
    margin-top: 65px;
}
.company-img3 img{
    margin-top: 53px;
}
.company-img4 img{
    margin-top: 30px;
}
/* Company Part End */
/* Footer Part Start */
.footer-part{
    background: #191919;
}
.footer-part .container{
    width: 1000px;
    margin: 0 auto;
}
.footer-con-main{
    padding-top: 90px;
    padding-bottom: 25px;
}
/* footer col 1 start*/
.foot-contnet p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #555555;
    margin-top: 15px;
}
.foot-contnet h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #d1d1d1;
    margin-top: -7px;
    cursor: pointer;
}
/* footer col 1 End*/
/* footer col 2 start */
.footer-content3 h5{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 25px;
}
.foote-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #555555;
    border-bottom: 2px solid #242424;
    padding-bottom: 15px;
}
.foote-content h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #363636;
}
.foote-content2 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #ffffff;
}
.foote-content2 h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #c7b299;
    margin-top: -5px;
    border-bottom: 2px solid #242424;
    padding-bottom: 15px;
}
.foote-content4 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #555555;
    padding-bottom: 15px;
}
.foote-content4 h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #363636;
}
/* footer col 2 End */
/* Footer col 3 start */
.foot-head h5{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 20px;
}
.foot-con1 h6 a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #00bff3;
    text-decoration: none;
}
.foot-con1 h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #555555;
}
.foot-con1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #363636;
    margin-top: -2px;
    border-bottom: 2px solid #242424;
    padding-bottom: 11px;
}
.foot-con2 h6 a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #959595;
    text-decoration: none;
}
.foot-con2 h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #555555;
}
.foot-con2 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #363636;
    margin-top: -2px;
    padding-bottom: 11px;
}
/* Footer col 3 End */
/* footer col 4 start */
.img1{
    margin-bottom: 10px;
}
.img2{
    margin-bottom: 10px;
    margin-left: 15px;
}
/* footer col 4 End */
/* Footer Part End */
ul{
    margin: 0;
    padding: 0;
}
.copy-right{
    background: #101010;
    padding: 15px 0;
}
.copy-right .container{
    width: 1000px;
    margin: 0 auto;
}
.copy-con-mai h5{
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: 6px;
    margin-right: 5px;
}
.copy-con{
    list-style-type: none;
}
.copy-con li a{
    text-decoration: none;
    color: #555555;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    transition: 1s;
}
.copy-con li a:hover{
    color: #c7b299;
}
.copy-con-mai2{
    margin-left:100px;
}
.copy-con-mai2 h5{
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: 6px;
    margin-right: 5px;
}